In [1]:
# Import the dependencies

import pandas as pd

import gmaps

import requests

# Import the API key.

from config import g_key

In [2]:
# Store the CSV you saved created in the part one into a DataFrame

city_data_df = pd.read_csv("weather_data/cities.csv")

city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Jamestown,US,2022-07-01 21:33:18,42.0970,-79.2353,83.05,63,40,9.22
1,1,Port Alfred,ZA,2022-07-01 21:37:59,-33.5906,26.8910,67.80,42,0,14.12
2,2,Barrow,US,2022-07-01 21:34:24,71.2906,-156.7887,46.42,71,0,11.50
3,3,Qaanaaq,GL,2022-07-01 21:38:00,77.4840,-69.3632,42.71,68,66,4.45
4,4,Atuona,PF,2022-07-01 21:38:00,-9.8000,-139.0333,77.36,73,3,8.37

In [3]:
# Get the data types.

city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your google API key.

gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.

max_temp = city_data_df["Max Temp"]

temps = []

for temp in max_temp:

    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature

# Get the latitude and longitude.

locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.

max_temp = city_data_df["Max Temp"]

# Assign the figure variable.

fig = gmaps.figure()

# Assign the heatmap variable.

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)

# Add the heatmap layer.

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))